@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $dark,
  "dark":       $light
);

@import "~bootstrap/scss/bootstrap";

body, html {
  overflow-x: hidden;
}

body, #app {
  margin: 0;
  background: black;
  color: white;
}

.table {
  color: white;
}

.header {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}