.animated-text {
  transition: color 0.5s linear;

  &.text-red {
    color: #fb4e4e;
  }

  &.text-green {
    color: #54f854;
  }

  &.text-fade-green {
    color: white;
    animation: fadeGreen 2s linear;
  }

  &.text-fade-red {
    color: white;
    animation: fadeRed 2s linear;
  }
}

@keyframes fadeGreen {
  from { color: green; }
  to { color: white; }
}

@keyframes fadeRed {
  from { color: red; }
  to { color: white; }
}